<a href="https://colab.research.google.com/github/Kushagratandon12/Transaction-Monitoring-/blob/master/Transaction_Monitoring.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Transaction Monitoring**

> Building a model based on a dataset of transactions on wheather the transaction is a case of Money Laundaring.
>This is the Final Code that will be running through out the system

## **Explaratory Data Analysis**

In [ ]:
# Importing Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics
from sklearn.metrics import accuracy_score, f1_score
from sklearn.metrics import f1_score,confusion_matrix
from sklearn.model_selection import train_test_split
import scipy.stats as st
from sklearn import ensemble, tree, linear_model

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
#DISPLAYING OUT DATASET
df = pd.read_excel('/content/Transaction Monitoring.xlsx')
df

       step      type     amount  ... newbalanceDest  isFraud  isFlaggedFraud
0         1   PAYMENT    9839.64  ...           0.00        0               0
1         1   PAYMENT    1864.28  ...           0.00        0               0
2         1  TRANSFER     181.00  ...           0.00        1               0
3         1  CASH_OUT     181.00  ...           0.00        1               0
4         1   PAYMENT   11668.14  ...           0.00        0               0
...     ...       ...        ...  ...            ...      ...             ...
50421     9   PAYMENT   11141.77  ...           0.00        0               0
50422     9  CASH_OUT  346321.39  ...     6847755.96        0               0
50423     9  CASH_OUT  334943.53  ...      751505.60        0               0
50424     9   PAYMENT   42299.14  ...           0.00        0               0
50425     9   PAYMENT   13263.11  ...           0.00        0               0

[50426 rows x 11 columns]

THE TYPE OF TRANSACTIONS THAT WOULD BE MADE ARE MENTIONED BELOW

In [ ]:
#SHUFFING /CLEANING THE DATASET
df = df.drop(['isFlaggedFraud','step','nameOrig','nameDest'], axis =1 )
from sklearn.utils import shuffle
df = shuffle(df)

## **Relationship Analysis**

In [ ]:
#correlation = df.corr()

In [ ]:
#sns.heatmap(correlation, xticklabels = correlation.columns,yticklabels = correlation.columns,annot = True )

In [ ]:
#NOT IMPORTANT FOR DISPLAYING 
#sns.pairplot(df)

In [ ]:
#CONVERTING THE TYPE PARAMETER INTO THE LABEL ENCODING 
from sklearn.preprocessing import OneHotEncoder 
df=pd.get_dummies(df)
df.head()

           amount  oldbalanceOrg  ...  type_PAYMENT  type_TRANSFER
16053    48265.24        51233.0  ...             0              0
11064  1259217.34            0.0  ...             0              1
3526     11667.76       459092.0  ...             1              0
675       1928.55         5096.0  ...             1              0
46759   254919.35            0.0  ...             0              1

[5 rows x 11 columns]

In [ ]:
y = df.loc[:,'isFraud']
X = df.drop(['isFraud'],axis =1)

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.75,random_state=1231)

In [ ]:
X_train.head()

          amount  oldbalanceOrg  ...  type_PAYMENT  type_TRANSFER
26311   27190.50            0.0  ...             1              0
30651    1719.82         1151.0  ...             1              0
20183    6543.93        32884.0  ...             1              0
10910    1609.73         1996.0  ...             1              0
19518  334256.80        28920.0  ...             0              0

[5 rows x 10 columns]

In [ ]:
y_train.head()

26311    0
30651    0
20183    0
10910    0
19518    0
Name: isFraud, dtype: int64

# **Training The Model**

BELOW IS THE CODE FOR TRAINING THE MODEL - ABOVE ALL THE CODE USED FOR CLEANING AND SPLITTING THE DATA FOR THE PROCESSING

In [ ]:
def generate_accuracy(model, x, y):
#     cm = confusion_matrix(y,model.predict(x))
#     sns.heatmap(cm,annot=True,fmt="d")
    ac = accuracy_score(y,model.predict(x))
    f_score = f1_score(y,model.predict(x))
    print('Accuracy is: ', ac)
    print('F1 score is: ', f_score)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 50)
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)
# Confusion Matrix
confusion_matrix = pd.crosstab(y_test, y_pred, rownames=['Actual'], colnames=['Predicted'])
confusion_matrix

Predicted      0   1
Actual
0          12579   2
1             14  12

In [ ]:
generate_accuracy(classifier, X_test, y_test)

Accuracy is:  0.9987308638058222
F1 score is:  0.6

# **TESTING THE MODEL WITH DUMMY DATASET**

TESTING THE MODEL USING SOME DUMMY DATASET CREATED BY TEAM

In [ ]:
dummy_data = pd.read_excel('/content/Dummy_data_testing.xlsx')
#cleaning the dataset 
dummy_data_cleaned = dummy_data.drop(['nameOrig','nameDest','OrigCountry','DestCountry'], axis =1 ) 
dummy_data_cleaned=pd.get_dummies(dummy_data_cleaned)
dummy_data_cleaned.head()
shuffle(dummy_data_cleaned)

        amount  oldbalanceOrg  ...  type_PAYMENT  type_TRANSFER
40   373068.26       20034.00  ...             0              0
95    37360.00     1558458.42  ...             0              0
23    55536.86           0.00  ...             0              1
36   179253.24           0.00  ...             0              1
25   928722.69           0.00  ...             0              1
..         ...            ...  ...           ...            ...
90    13704.00       13704.00  ...             0              1
58   231881.50     3401668.32  ...             0              0
83  1096187.24     1096187.24  ...             0              0
17  1123206.66           0.00  ...             0              1
41   143236.26           0.00  ...             0              0

[99 rows x 11 columns]

In [ ]:
y_dummy = dummy_data_cleaned.loc[:,'isFraud']
X_dummy = dummy_data_cleaned.drop(['isFraud'],axis =1)

In [ ]:
classifier = RandomForestClassifier(n_estimators = 50)
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_dummy)
# Confusion Matrix
confusion_matrix = pd.crosstab(y_dummy, y_pred, rownames=['Actual'], colnames=['Predicted'])
y_predictions=y_pred
print(y_predictions)
print(type(y_test))
y_test.size

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1]
<class 'pandas.core.series.Series'>

12607

# Seting Up The Red Flag

In [ ]:
y_predected_dummy=y_pred
y_predected_dummy=list(y_predected_dummy)
dummy_data=dummy_data.drop('isFraud',axis=1)
dummy_data['isFraud']=y_predected_dummy
dummy_data.head()

       type     amount     nameOrig  ...  newbalanceDest  OrigCountry DestCountry
0  CASH_OUT  229133.94   C905080434  ...        51513.44  AFGHANISTAN  CAPE VERDE
1  TRANSFER  311685.89  C1984094095  ...      2719172.89        HAITI   SRI LANKA
2   PAYMENT    7413.54  C1470868839  ...            0.00      MYANMAR    PARAGUAY
3   PAYMENT    6660.33   C893523498  ...            0.00         LAOS     BAHAMAS
4  TRANSFER   26923.42  C1108517064  ...        95508.95   MOZAMBIQUE    TANZANIA

[5 rows x 10 columns]

In [ ]:
dummy_data['isFraud']=y_predected_dummy
Red_Flagged= dummy_data[dummy_data['isFraud']==1]
Red_Flagged.to_csv('Red_Flagged_Data.csv')
dummy_data=dummy_data[dummy_data['isFraud']==0]

#Counties Section

In [ ]:
df2 = pd.read_excel('/content/Contries_score.xlsx')
df2=pd.DataFrame(df2)
df2=df2.rename(columns={'Overall score':'score'})
df2=df2[df2['score']>=6]

In [ ]:
country_score = pd.Series(df2.score.values,index=df2.Country).to_dict()
country_score

{'AFGHANISTAN': 8.16,
 'ALGERIA': 6.74,
 'ANGOLA': 7.02,
 'BAHAMAS': 6.43,
 'BENIN': 6.85,
 'BOLIVIA': 6.2,
 'CAMBODIA': 7.1,
 'CAPE VERDE': 6.52,
 'CAYMAN ISLANDS': 7.64,
 'CHINA': 6.76,
 "COTE D'IVOIRE": 6.78,
 'HAITI': 8.15,
 'KENYA': 7.18,
 'KYRGYZSTAN': 6.32,
 'LAOS': 7.82,
 'LIBERIA': 6.25,
 'MONGOLIA': 6.24,
 'MOZAMBIQUE': 7.81,
 'MYANMAR': 7.86,
 'NICARAGUA': 6.78,
 'NIGERIA': 6.88,
 'PAKISTAN': 6.3,
 'PARAGUAY': 6.45,
 'SENEGAL': 7.3,
 'SIERRA LEONE': 7.51,
 'SRI LANKA': 6.52,
 'TAJIKISTAN': 6.02,
 'TANZANIA': 6.39,
 'THAILAND': 6.01,
 'VENEZUELA': 6.56,
 'VIETNAM': 7.04,
 'YEMEN': 7.12,
 'ZIMBABWE': 6.54}

# ORANGE NOTIFICATION SYSTEM

In [ ]:
dummy_data=dummy_data[dummy_data['isFraud']==0]
dummy_data.drop(columns='isFraud',inplace=True)
dummy_data

        type      amount  ...          OrigCountry     DestCountry
0   CASH_OUT   229133.94  ...          AFGHANISTAN      CAPE VERDE
1    CASH_IN   114271.72  ...              ANDORRA          PANAMA
2   TRANSFER  1349670.68  ...               ANGOLA       INDONESIA
3    CASH_IN   418688.27  ...  ANTIGUA AND BARBUDA           YEMEN
4    CASH_IN   380015.14  ...            ARGENTINA           KENYA
..       ...         ...  ...                  ...             ...
90  TRANSFER  1339661.93  ...       UNITED KINGDOM           INDIA
91  TRANSFER    55536.86  ...              URUGUAY      TAJIKISTAN
92  TRANSFER   495294.14  ...              VANUATU  UNITED KINGDOM
93  TRANSFER  2421578.09  ...              VIETNAM        COLOMBIA
94  TRANSFER   473499.51  ...                YEMEN     SWITZERLAND

[95 rows x 10 columns]

In [ ]:
orange_flag={}
green_flag={}
for i in dummy_data.index:
  if dummy_data['OrigCountry'][i] in country_score.keys()or dummy_data['DestCountry'][i] in country_score.keys() :
    if ((dummy_data['amount'][i] > 100000)):
      orange_flag.update({dummy_data['nameOrig'][i]:'orange'})
  else:
    green_flag.update({dummy_data['nameOrig'][i]:'green'})

In [ ]:
orange=pd.DataFrame(orange_flag.items(),columns=['nameOrig', 'Flag'])

In [ ]:
green=pd.DataFrame(green_flag.items(),columns=['nameOrig', 'Flag'])

In [ ]:
df_orange=dummy_data.merge(orange,how="inner")
df_orange.to_csv('ORANGE_FLAGGED.csv')

In [ ]:
df_green=dummy_data.merge(green,how="inner")
df_green.to_csv('Green_Flagged.csv')

# NOTIFICATION SYSTEM

In [ ]:
from email.mime.multipart import MIMEMultipart
from email.mime.text import MIMEText
from email.mime.base import MIMEBase
from email.mime.image import MIMEImage
from email import encoders
import smtplib

In [ ]:

red_file="/content/Red_Flagged_Data.csv"

sender_address = 'amlteam.lscg@gmail.com'
sender_pass = 'lscg2020'                                                         
receiver_address = 'tarun.tiwari1219@gmail.com'
                                                                                
message_content="""\
<!DOCTYPE html>
<html>
    <body>
        <h2 style="color:Red;">ALERT!!!</h2>
        <h5 style="color:SlateGray;">Potential Money Laundering cases detected.</h5>
        <h5 style="color:SlateGray;">Data is attached along with the email.</h5>
        <h5 style="color:SlateGray;">Potential Money Laundering cases detected.</h5>
        <h5 style="color:SlateGray;">Update final result on akshit_web_link.com</h5>
        <h6 style="color:Black;">System generated email do not reply.</h6>
        
    </body>
</html>
"""
message = MIMEMultipart()
message['From'] = sender_address
message['To'] = receiver_address
message['Subject'] = 'DETECTED!!!' 

fp = open('lscg.png', 'rb') #Read image 
msgImage = MIMEImage(fp.read())
fp.show()

                                                                                                
message.attach(MIMEText(message_content, 'html'))
attach_file_name = red_file                                                            
attach_file = open(attach_file_name, 'rb')                                      
payload = MIMEBase('application', 'octate-stream')
payload.set_payload((attach_file).read())
encoders.encode_base64(payload)                                                 
                                                                                                
payload.add_header('Content-Decomposition', 'attachment', filename=attach_file_name)
message.attach(payload)
                                                                                                 
session = smtplib.SMTP('smtp.gmail.com', 587)                                   
session.starttls()                                                               
session.login(sender_address, sender_pass)                                       
text = message.as_string()
session.sendmail(sender_address, receiver_address, text)
session.quit()

FileNotFoundError: ignored